<div class="header">
  <ul class="nav justify-content-center">
      <li class="nav-item">
          <a class="nav-link" href="#"><h2>Main</h2></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><h2>Posts</h2></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><h2>About</h2></a>
      </li>
  </ul>
</div>


<app-main></app-main>


<footer class="footer">
  <div class="container">
    <span class="text-muted">Developed and further updated by Nikita Tysiachnyi.
    <a class="github__link text-secondary"
    href="https://github.com/Tysiachnyi">
        GitHub
        <span>  </span>
        <i class="fa fa-github" aria-hidden="true"></i></a>
    <a class="github__link text-secondary"
    href="https://www.linkedin.com/in/nikita-tisachniy-9b32b294/">
        Linkedin
        <span>  </span>
        <i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </span>
  </div>
</footer>
