<div>
    <div class="card">
      <div class="card-header">
        User information
      </div>
      <div class="card-body">
          <h4 class="card-title">User Name</h4>
          <p class="card-text">Your country: {{auth.country + ' ' + auth.countryFlag}}</p>
          <p class="card-text">Your ip: {{auth.ip}}</p>
          <p class="card-text">You logged in: {{auth.loggedDate | date:'short'}}</p>
          <p class="card-text">Count of posts: {{postsService.posts.length}}</p>
          <div *ngIf="postsService.likedPosts.length > 0">
              <h4>List of liked post</h4>
              <table class="table">
                  <thead>
                  <tr>
                      <th>Title</th>
                      <th>ID</th>
                      <th>Link</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let likedPost of postsService.likedPosts">
                      <td scope="row">{{likedPost.title}}</td>
                      <td>{{likedPost.id}}</td>
                      <td>1</td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
</div>
